# EMAIL
RESEND_API_KEY=
EMAIL_FROM=no-reply@email.example.com
# Error Monitoring
SENTRY_DSN=
SENTRY_AUTH_TOKEN=

SERVER_URL=
CORS_ORIGIN=
NODE_ENV=development
# NODE_ENV=development / test / production

HONEYPOT_SECRET=

# Database
DATABASE_URL=postgresql://admin:admin@localhost:5432/one-piece-db
REDIS_URL=redis://localhost:6379

# OAUTH
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# Generate a random secret here: https://generate-secret.vercel.app/64
SESSION_SECRET=

# PAYMENTS
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=


# STORAGE
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
AWS_REGION=
AWS_ENDPOINT_URL_S3=
