# Email
EMAIL_PROVIDER=resend
EMAIL_FROM=no-reply@email.example.com
RESEND_API_KEY=

# Error Monitoring
SENTRY_DSN=
SENTRY_AUTH_TOKEN=

# Server
SERVER_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
NODE_ENV=development
INGEST_DEV=1
# NODE_ENV=development / production

# Database
DATABASE_URL=postgresql://admin:admin@localhost:5432/one-piece-db
REDIS_URL=redis://localhost:6379

# Authentication
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# Generate a random secret here: https://generate-secret.vercel.app/64
SESSION_SECRET=
HONEYPOT_SECRET=

# Payments
DODO_PAYMENTS_API_KEY=
DODO_PAYMENTS_WEBHOOK_SECRET=


# Storage
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
BUCKET_NAME=
AWS_REGION=
AWS_ENDPOINT_URL_S3=

# Background Processing
# (DEV MODE)
INNGEST_DEV=1